/* Imports */

/* |--Settings */
@import './settings/variables.css';
@import './settings/base.css';
@import './settings/helpers.css';


/* |--Views */
@import './views/employees.css';
@import './views/home.css';
@import './views/appointment.css';
@import './views/login.css';

.header-container{
    margin-bottom: 30px;
}

.header-container img{
    width: 20%;
}

.header-container nav{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}